/* dashboard.css */

/* Dashboard Container */
.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: rgb(251, 251, 251);
  overflow-x: hidden; /* Hide horizontal scrollbar if sidebar is too wide */
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/058/793/small/abstract-blur-with-bokeh-light-for-background-usage-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sidebar */
.sidebar {
  
  color: white;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.logo {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

ul {
  margin-top: 100px;
  list-style: none;
  padding: 0;
  font-size: 20px;
  padding: 20px;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  text-decoration: underline;
}

.dashboard-container.sidebar-open .sidebar {
  transform: translateX(0);
  width: 250px;
  background-color: rgb(11, 10, 10);
  height: 100vh;
}
.sidebar-toggle{
  justify-content: center;
  margin-top: 400px;
  width: 50px;
}
/* Right-align the SVG when the sidebar is open */
.dashboard-container.sidebar-open .sidebar .sidebar-toggle {
  display: flex;
  justify-content: flex-end; /* Right-align the content */
  padding: 10px; /* Add some padding for spacing */
  
}

/* Rotate the SVG when the sidebar is open */
.dashboard-container.sidebar-open .sidebar .sidebar-toggle svg {
  transform: rotate(180deg); /* Rotate the SVG */
  
}

/* Sidebar Closed */
.sidebar.sidebar-closed .sidebar {
  transform: translateX(-250px);
}


/* Content */
.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s; /* Add a smooth transition for content when the sidebar opens/closes */
}

.navbartitle {
  font-size: 30px;
  font-weight: bold;
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

/* Top Navigation */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
}

.welcomedesp {
  font-size: 20px;
  width: 800px;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 20px;
}

.maincontentdashboard {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #333;
  color: rgb(171, 7, 7);
  border: none;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}
@media (max-width:890px) {
  .welcomedesp{
    width:600px;  
  }
}
@media (max-width:680px) {
  .welcomedesp{
    width:400px;  
  }
}
@media (max-width:490px) {
  .welcomedesp{
    width:300px;  
  }
  
}